<%= stylesheet_link_tag "AdminLTE.min", "ionicons.min", "morris" %>
<%= javascript_include_tag "raphael.min", "morris.min" %>
<div class="col-sm-12 content-wrapper index-grafico" style="margin-left:0px;">

  <div style="text-align:center;color:#000;font-size:50px;text-shadow:3px 3px 3px gray;">Cantidad de Matriculados por Periodo</div>
  <em style="text-align:center;color:#000;font-size:25px;text-shadow:3px 3px 3px gray;">OBS.: Los datos provienen de las matriculas vinculadas al usuario director.</em>

  <% if @matriculados_por_anio.present? %>

    <% @matriculados_por_anio.each_with_index do |m, i| %>

      <h1>
        <%= m[:codigo_institucion] %>
        <small><%= m[:nombre_institucion] %></small>
      </h1>
      
      <% if m[:datos].present? %>

        <div class="col-sm-12">

          <div class="col-sm-3"></div>
          <div class="col-sm-6">

            <table class="table table-small-font table-bordered table-striped">

              <tr>
                <th class="td-nivel-4">Periodo</th>
                <th class="td-nivel-4">Cantidad</th>
              </tr>

              <% m[:encabezado].each do |e| %>

                <tr>
                  
                  <td class="td-nivel-2"><%= e[:periodo] %></td>
                  <td class="td-nivel-2"><%= e[:cantidad_matriculados] %></td>

                </tr>

              <% end %>

            </table>

          </div>

          <div class="col-sm-3"></div>
        
        </div>

        <!-- Morris chart - Sales -->
        <div class="chart tab-pane active" id="revenue-chart-<%= i %>" style="position: relative; height: 300px;"></div>
                  
        <script type="text/javascript">

          $(function () {
  
            //BAR CHART
            var bar = new Morris.Bar({
              element: 'revenue-chart-<%= i %>',
                resize: true,
                data: [
                  
                  <%= m[:datos].join(",").html_safe %>

                ],
                barColors: ['#00c0ef'],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Alumnos'],
                hideHover: 'auto'
            });
          });


        </script>

        <br />
        <br />
    
      <% end %>

    <% end %>

  <% end %>

  <div style="clear:both;"></div>
  <div style="text-align:center;color:#000;font-size:50px;text-shadow:3px 3px 3px gray;">Reportes</div>

  <div class="col-sm-1"></div>

  <div class="col-sm-10">

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
<!--
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="btn-por-matriculaciones">Por Matriculaciones</button>
    </div>
-->
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="btn-por-ofertas-educativas">Por Ofertas Educativas</button>
    </div>
<!-- 
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id="btn-por-instituciones">Por Instituciones</button>
    </div>
-->
  </div>

  <div class="col-sm-1"></div>

  <br />

  <div class="table-responsive" id="area-reportes"></div>

</div

</div>

<style type="text/css">

  .index-grafico {


    border:solid 1px #5c5c5c;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

  
  
  }

  .td-nivel-0 {background: #ffd8da !important;color:#000 !important;font-weight:none; font-size:12px;}
  .td-nivel-1 {background: #e6e6e6 !important;color:#000 !important;font-weight:bold; font-size:10px;}
  .td-nivel-2 {background: silver !important;color:#000 !important;font-weight:bold; font-size:30px; text-align:right;}
  .td-nivel-3 {background: #fff !important;color:#000 !important;font-weight:bold; font-size:10px;}
  .td-nivel-4 {background: #465f6e !important;color:#fff !important;font-weight:bold; font-size:30px; text-align:right;}
  .td-nivel-5 {background: #465f6e !important;color:#fff !important;font-weight:bold; font-size:12px;}
  .td-nivel-0 select, .td-nivel-0 input { font-size: 10px; color: #000;}
  .td-nivel-1 select, .td-nivel-1 input { font-size: 10px; color: #000;}
  .td-nivel-2 select, .td-nivel-2 input { font-size: 10px; color: #000;}
  .td-nivel-3 select, .td-nivel-3 input { font-size: 10px; color: #000;}
  .td-nivel-1 span.limpiar { background: #fff !important;}

</style>

<script type="text/javascript">


  $("#btn-por-ofertas-educativas").bind('click', function(){

    $("#area-reportes").html("<%= escape_javascript("<div style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</div>").html_safe %>")

    $("#btn-por-ofertas-educativas").attr('style', 'background: #e7e7e7') 
    $("#btn-por-matriculaciones").attr('background', '#f4f4f4') 
    $("#btn-por-instituciones").attr('background', '#f4f4f4')

    $.ajax({
      type: 'POST',
      url: "<%= graficos_reportes_ofertas_educativas_path %>",
      dataType: 'script'
    
    })

  })

  $("#btn-por-ofertas-educativas").trigger('click');

</script>
