<%= notificaciones %>


  <br />
  <br />
<%if current_usuario.present? and rol_administrador %>

  <div class="row">

    <div class="col-sm-6 mb-3 mb-md-0 " >
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">Citas</h5>
        </div>
        <div class="panel-body">
          <div class="row">

           <a href="<%= url_for(citas_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ver Citas <%=@citas_dia.size%></a><br /><br />
           <a href="<%= url_for(citas_index_path(agregar:true))%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Crear Citas</a>
         
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">

        <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">Pacientes</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <a href="<%= url_for(pacientes_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ir a Pacientes</a><br /><br />
            <a href="<%= url_for(pacientes_index_path(agregar: true))%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Agregar Paciente</a><br />

          </div>
        </div>
      </div>

    </div>


  </div>



  <div class="row">

    <div class="col-sm-6 mb-3 mb-md-0" >
      
      <div class="panel panel-info">
        <div class="panel-heading">
          <h5 class="panel-title">Historiales</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <p></p>
            <a href="<%= url_for(historiales_pacientes_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ir a Historiales</a><br /><br />
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h5 class="panel-title">Reportes</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <p></p>
            <a href="<%= url_for(informes_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ir a Reportes</a><br /><br />
          </div>
        </div>
      </div>

    </div>


  </div>

<%end%>

<%if current_usuario.present? and rol_tutor %>

  <div class="row">

    <div class="col-sm-6 mb-3 mb-md-0 " >
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">Citas</h5>
        </div>
        <div class="panel-body">
          <div class="row">
          <p></p>
           <a href="<%= url_for(citas_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ver Citas</a><br /><br />
         
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">Historiales</h5>
        </div>
        <div class="panel-body">
          <div class="row">
            <p></p>
            <a href="<%= url_for(historiales_pacientes_index_path())%>"class="btn btn-primary btn-xs" target="_blank" style="margin-left:10px;">Ir a Historiales</a><br /><br />
          </div>
        </div>
      </div>

    </div>


  </div>

<%end%>



<!-- Script para el tutorial interactivo -->
<script>

</script>
    <!-- Estilo para el tutorial interactivo -->
<style>
      .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
      }
      #start-tour{
        cursor: pointer;
      }
</style>
