<%= javascript_include_tag "modulos/usuarios.js" %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<%= notificaciones %>

<div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:35px;">
  <h3>Recuperar mi contrase&ntilde;a</h3>
</div>

<div class="col-sm-6" style="margin:auto;">
 
  <%= form_tag principal_guardar_recuperar_password_path, remote: true, id: "form-recuperar-password" do  -%>

    <div class="col-sm-4"><%= label_tag nil, "Tipo de Documento #{attr_requerido}".html_safe, id: "lbl-tipo-documento-persona" %></div>
    <div class="col-sm-7"><%= collection_select :persona, :tipo_documento_id, TipoDocumento.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "Nacionalidad #{attr_requerido}".html_safe, id: "lbl-nacionalidad" %></div>
    <div class="col-sm-7"><%= collection_select :persona, :nacionalidad_id, Nacionalidad.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "Fecha de Nacimiento #{attr_requerido}".html_safe %></div>
    <div class="col-sm-7"> 
      <div class='input-group date' style="width:150px;float:left;margin-top:15px;">
        <%= text_field_tag :fecha_nacimiento, nil, class: 'form-control input-sm', style: "margin-top:0px;", placeholder: "dd/mm/yyyy"  %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "N° Documento #{attr_requerido}".html_safe, id: "lbl-documento" %></div>
    <div class="col-sm-7"><%= text_field_tag :persona_documento, nil, class: 'form-control input-sm' %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "Nombre #{attr_requerido}".html_safe, id: "lbl-nombre" %></div>
    <div class="col-sm-7"><%= text_field_tag :persona_nombre, nil, class: 'form-control input-sm', readonly: true %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "Apellido #{attr_requerido}".html_safe, id: "lbl-apellido" %></div>
    <div class="col-sm-7"><%= text_field_tag :persona_apellido, nil, class: 'form-control input-sm', readonly: true %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"><%= label_tag nil, "Correo #{attr_requerido}".html_safe, id: "lbl-email" %></div>
    <div class="col-sm-7"><%= text_field_tag :usuario_email, nil, class: 'form-control input-sm', readonly: true %></div>
    <div class="col-sm-1"></div><br />

    <div class="col-sm-4"></div>
    <div class="col-sm-7"><%#= recaptcha_tags %>

      <br />
      <br />
      <div class="g-recaptcha" data-sitekey="6Lc-0PcSAAAAAEgTs-_EdpQU-LHIPx0bpRjnkMbR"></div>
      
    </div>
    <div class="col-sm-1"></div><br /><br />

    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <%= submit_tag "Enviar", class: 'btn btn-primary', id: "btn-guardar-recuperar-password" %>
      <%= link_to "Cancelar", root_path, class: "btn btn-warning" %>
    </div><br />

  <% end %>
  
</div>
<div class="col-sm-4"></div>

<style type="text/css">

  #form-recuperar-password{ background-color: #fff; border: 1px solid #b6b6b6; padding:10px 0px 10px 10px; border-radius: 5px;}
  #form-recuperar-password label, #form-recuperar-password input[type='text'], #form-recuperar-password input[type='password'], #form-recuperar-password select { margin-top: 15px; }
  #form-recuperar-password br { clear:both;}
  #form-recuperar-password label { font-size:12px;}
  #form-recuperar-password #persona_tipo_documento_persona_id { width:60%;}
  #form-recuperar-password #persona_nacionalidad_id { width:60%;}
  #form-recuperar-password #persona_documento { width:50%;}


</style>

<script type="text/javascript">

  //--------------------- INICIO ---------------------//
  aplicar_datepicker2();
  $("#persona_tipo_documento_id").focus();
  $("#persona_tipo_documento_id").val(1);
  $("#persona_nacionalidad_id").val(1);
  //--------------------------------------------------//
  //-----------------------BUSCAR PERSONAS ----------------------//
  $("#persona_documento").bind("keydown", function(e){
      
    if(e.keyCode == 13 || e.keyCode == 9){
      
      buscar_usuario($("#persona_tipo_documento_id").val(), $("#persona_nacionalidad_id").val(), $("#persona_documento").val(), $("#fecha_nacimiento").val(), "<%= url_for(principal_buscar_usuario_path ) %>");
      return false;
    }
 
  })
  //--------------------------------------------------------------//
  //-----------------------BUSCAR PERSONAS ----------------------//
  $("#persona_documento").bind("change", function(){

    buscar_usuario($("#persona_tipo_documento_id").val(), $("#persona_nacionalidad_id").val(), $("#persona_documento").val(), $("#fecha_nacimiento").val(), "<%= url_for(principal_buscar_usuario_path ) %>");

  })
  //--------------------------------------------------------------//

</script>
