<div>
<!--
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
-->
  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Disciplinas</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-disciplina", class: "btn btn-primary pull-right", style: "float:right;", onclick: "$('.modal').html('');return false;" %>
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-disciplinas">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag disciplinas_lista_path, remote: true, id: "form-buscar-disciplinas"  do  %>

        <tr>

          <th style="width:5%;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_disciplinas_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-disciplinas', '#form_buscar_disciplinas_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:35%;">
            <span>Descripcion</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_disciplinas_descripcion, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_disciplinas_descripcion').val('');quitar_filtro('#form-buscar-disciplinas', '#form_buscar_disciplinas_descripcion');"><i class="fa fa-times"></i></span>
            </div>

            <%#= hidden_field_tag :form_buscar_disciplinas_id %>
            <%= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion,
                  atributo_tipo: :text, 
                  model: :Disciplina, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion))",
                  orden: "descripcion"), 
              parametro_id: "form_buscar_disciplinas_descripcion", 
              resultado_id: "form_buscar_disciplinas_id",
              min_length: 2
              ) %>
          </th>

          <th style="width:35%;">
            <span>Descripción Guaraní</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_disciplinas_descripcion_guarani, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_disciplinas_descripcion_guarani').val('');quitar_filtro('#form-buscar-disciplinas', '#form_buscar_disciplinas_descripcion_guarani');"><i class="fa fa-times"></i></span>
            </div>

            <%#= hidden_field_tag :form_buscar_disciplinas_id %>
            <%= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion_guarani,
                  atributo_tipo: :text, 
                  model: :Disciplina, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion_guarani))",
                  orden: "descripcion_guarani"), 
              parametro_id: "form_buscar_disciplinas_descripcion_guarani", 
              resultado_id: "form_buscar_disciplinas_id",
              min_length: 2
              ) %>
          </th>

          <th style="width:7%;"></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="disciplinas-lista"></tbody>
  
  </table>

</div>


<table class="table table-striped table-bordered table-hover">
  <tbody id="disciplinas-footer"></tbody>
</table>

<%= modal_window( window_id: "modal-window-agregar-disciplina", link_to_id: "#link-to-agregar-disciplina", url: disciplinas_agregar_path( window_id: "modal-window-agregar-disciplina") )%>

<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-disciplinas").bind("submit", function () {

   $("#disciplinas-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")

  })
  //---------------------------------------------------------------------------//
  
  //---------------------------- BUSCAR disciplinas-------- -------------------------//
  $("#table-disciplinas input, #table-disciplinas select").bind('change', function () {

      $.ajaxQ.abortAll();

      $("#form-buscar-disciplinas").submit();


  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-disciplinas").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-disciplina").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<script>

  
  $('#start-tour').click(function () {

      introJs().setOptions({
          doneLabel: 'Salir',
          nextLabel: 'Siguiente &rarr;',
          prevLabel: '&larr; Anterior',
          skipLabel: 'Salir',
          steps: stepsListado
      }).start();

  });
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-controladores table th { background:#e6e6e6;}
    #form-buscar-controladores table th span.limpiar { background:#fff;}

</style>
