<% if paciente.present? %>

  <% paciente.each do |pac| %>

    <tr>

      <td><%= pac.paciente_id %></td>
      <td><%= pac.documento_persona%></td>
      <td style="text-transform:uppercase;"><%= pac.nombre_persona%></td>
      <td style="text-transform:uppercase;"><%= pac.apellido_persona %></td>
      <td style="text-transform:uppercase;"><%= pac.direccion %></td>
      <td><%= pac.telefono%> - <%= pac.celular%></td>
      
      <td >
        
        
        <%= link_to_paciente_detalle_fono(pac.paciente_id) %>
        <%= link_to_editar_paciente(pac.persona_id) %>
        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{pac.paciente_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-paciente", title: 'Haga click para eliminar el paciente'  %>

      
       </td>

   


    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate paciente, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(paciente_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de pacientes",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(pacientes_eliminar_path) %>", 
                data: {id: paciente_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>




