
<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Flota</h4>
      
    </div>

    <%= form_for @flota, remote: true, url: flotas_guardar_url, html: { id: "form-agregar-flota" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= f.label :codigo_flota, "Código Flota #{attr_requerido}".html_safe %></div>
           <div class="col-sm-7"><%= f.text_field :codigo_flota, class: 'form-control input-sm',style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br />
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= f.label :marca, "Marca #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.collection_select :marca_id, Marca.orden_id, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br />
          
          <div class="col-sm-4"><%= f.label :modelo, "Modelo #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_field :modelo, class: 'form-control input-sm',style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= f.label :chapa, "N° Chapa #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_field :chapa, class: 'form-control input-sm',style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= f.label :descripcion, "Descripción #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_field :descripcion, class: 'form-control input-sm',style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br />    
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">
        <%= link_to "<span class='glyphicon glyphicon-remove'></span> Cerrar".html_safe, "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Guardar".html_safe, class: "btn btn-primary", id: "btn-guardar-flota" %>          
      </div>

    <% end %>

  </div>
  
</div>

<style type="text/css">

  #form-agregar-flota label, #form-agregar-flota input[type='text'], #form-agregar-flota select { float:left; margin-top:5px;}
  #form-agregar-flota br {clear:both; }
  #form-agregar-flota label { width:200px;font-size:12px;margin-top:10px;}
  #form-agregar-flota #marca { width:60%;}
  #form-agregar-flota #modelo { width:60%;}
  #form-agregar-flota #chapa { width:50%;}
  #form-agregar-flota #descripcion { width:50%;}
  

</style>

<script type="text/javascript">

  aplicar_datepicker2();

</script>
