
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>
<!--
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
-->
  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Flotas</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-flota", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-flota", link_to_id: "#link-to-agregar-flota", url: flotas_agregar_path( window_id: "modal-window-agregar-flota") )%>
    
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-flotas">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag flotas_lista_path, remote: true, id: "form-buscar-flotas"  do  %>

        <tr>

          <th style="width:50px;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_flotas_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th style="width:130px;">
            <span>Código Flota</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_flotas_codigo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_codigo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:10%;">
            <span>Marca</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_flotas_marca, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_flotas_marca_id').val('');quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_marca');"><i class="fa fa-times"></i></span>
            </div>

            <%= hidden_field_tag :form_buscar_flotas_marca_id %>
            <%= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion,
                  atributo_tipo: :text, 
                  model: :Marca, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion))",
                  orden: "descripcion"), 
              parametro_id: "form_buscar_flotas_marca", 
              resultado_id: "form_buscar_flotas_marca_id",
              min_length: 2
              ) %>
          </th>


          <th style="width:130px;">
            <span>Modelo</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_flotas_modelo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_modelo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
            <span>N° Chapa</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_flotas_chapa, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_chapa');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          
      

          <th style="width:18%;">
            <span>Descripción<br/> <em style="font-size: 7px;"> Ej: CAMION DOBLE EJE</em></span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_flotas_descripcion, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-flotas', '#form_buscar_flotas_descripcion');"><i class="fa fa-times"></i></span>
            </div>
            <em class="nmb"></em>
          </th>


          <th style="width:150px;"></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="flotas-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-flotas").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_flotas_descripcion").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_flotas_descripcion").val().replace(/\s/g,'')).length > 2 && ($("#form_buscar_flotas_descripcion").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
        //swal("Para la búsqueda por Nombre y Apellido Ingrese minimo 3(tres) carácteres en cada caja de texto", "", "error");         
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
    $(".nmb").html('');       
    $("#flotas-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-flotas input, #table-flotas select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-flotas").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-flotas").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-flota").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-flotas table th { background:#e6e6e6;}
    #form-buscar-flotas table th span.limpiar { background:#fff;}

</style>
