<td colspan="4">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Acciones</h3>
        <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-accion", class: "btn btn-primary btn-xs", style: "float:right;" %>
      </div>

    </div>

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-acciones">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead>
              
            <tr role="row">
              
              <th>id</th>
              <th>Descripci&oacute;n</th>
              <th style='text-align:right;'></th>
              
            </tr>
            
          </thead>
       
          <tbody id="acciones-lista">

            <% if @acciones.present? %>
            
              <% @acciones.each do |a|%>

                <tr>
                  <td><%= a.id %></td>
                  <td><%= a.descripcion %></td>
                  <td style="width: 50px;text-align:right;">
                    <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, controladores_eliminar_accion_path(:id => a.id), remote: true, class: 'btn btn-danger btn-xs', title: "Haga click para eliminar la acción", data: {confirm: 'Esta seguro de eliminar esta acción ?'} %>
                  </td>

                </tr>

              <% end %>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>
    
  </div>

  <%= modal_window( window_id: "modal-window-agregar-accion", link_to_id: "#link-to-agregar-accion", url: controladores_agregar_accion_path( window_id: "modal-window-agregar-accion", controlador_id: params[:controlador_id]) )%>

</td>
