
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Generar Reportes</h3>
  </div>

</div>

<div style="clear:both;"></div>
 

<%= form_for "informes", remote: true, url: informes_indexa_url, html: { id: "form-informes-produccion" }, method: 'GET' do |f| %>

  <div class="modal-body">    

    <div class="col-sm-6 col-sm-offset-3">

      <div class="panel-body" style="background:#e6e6e6; ">
        
        <div class="col-sm-4"><%= label_tag nil, "Paciente".html_safe %></div>
        <%= hidden_field_tag :paciente_id %>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= text_area_tag :cita_paciente_id, nil, rows: 3 ,class: 'form-control input-sm'%></div>
        <br style="clear: both;"/>


        <div class="col-sm-4"><%= label_tag :nil, "Profesional".html_safe %></div>
        <%= hidden_field_tag :profesional_id %>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;" ><%= text_area_tag :cita_profesional_id, nil ,rows: 3,class: 'form-control input-sm'%></div>
        <div class="col-sm-1"></div><br />


        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Tipo Consulta".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :tipo_consulta, :id, TipoConsulta.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />


        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Estado Cita".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :estado_cita, :id, EstadoCita.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />


        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Estado Cobro".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :estado_cobro, :id, EstadoCobro.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />


        <div class="col-sm-4"><%= label_tag :nil, "Desde la Fecha".html_safe %></div>
          <div class='input-group date col-sm-4'>
          <%= text_field_tag :fecha_desde, nil, class: 'form-control input-sm' %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>


         <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Hasta la Fecha".html_safe %></div>
          <div class='input-group date col-sm-4'>
          <%= text_field_tag :fecha_hasta, nil, class: 'form-control input-sm' %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        <div class="col-sm-1"></div><br /> 
       

      </div>

      
      <div class="modal-footer" style="background:#e6e6e6; text-align: center">

        <%= submit_tag  "Generar Reporte", class: "btn btn-primary", id: "btn-generar-reporte" %>
          
      </div>

    </div>  

  </div>  

<%end%>

<script type="text/javascript">

  $("#btn-generar-reporte").bind('click', function(){
    
   // $("#btn-generar-reporte").attr('disabled', true);

  })

  //OBTENER PACIENTE
  $("#cita_paciente_id").bind('focus', function(){   

    var personas = [];
    $("#cita_paciente_id").val('');
    $("#paciente_id").val('');
    $("#cita_paciente_id").attr('readonly', false);

    $.getJSON("<%= url_for(pacientes_buscar_paciente_cita_path) %>", { nombre_paciente: $("#cita_paciente_id").val()}, function(j){
        
      var nombre_persona = "";
      var options = "<option value=''> -- Seleccione un Profesional -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_persona != nombre_persona ){
          
          personas.push( {value: j[i].paciente_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona });
          nombre_persona =j[i].paciente_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona ;

          options += "<option value="+ j[i].paciente_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona + "</option>"

        }

      }

      $("#cita_paciente_id").html(options);

    })

    $("#cita_paciente_id").autocomplete({

      minLength: 1,
      source: personas,
      focus: function( event, ui ) {
      
        $("#cita_paciente_id" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#cita_paciente_id").val( ui.item.label );
        $("#paciente_id").val(datos[0]);
        return false;

      }
    })

  });

  //OBTENER PROFESIONAL
  $("#cita_profesional_id").bind('focus', function(){   

    var personas = [];
    $("#cita_profesional_id").val('');
    $("#profesional_id").val('');
    $("#cita_profesional_id").attr('readonly', false);

    $.getJSON("<%= url_for(profesionales_buscar_profesional_path) %>", { nombre_profesional: $("#cita_profesional_id").val()}, function(j){
        
      var nombre_persona = "";
      var options = "<option value=''> -- Seleccione un Profesional -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_persona != nombre_persona ){
          
          personas.push( {value: j[i].profesional_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona });
          nombre_persona =j[i].profesional_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona ;

          options += "<option value="+ j[i].profesional_id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona + "</option>"

        }

      }

      $("#cita_profesional_id").html(options);

    })

    $("#cita_profesional_id").autocomplete({

      minLength: 1,
      source: personas,
      focus: function( event, ui ) {
      
        $("#cita_profesional_id" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#cita_profesional_id").val( ui.item.label );
        $("#profesional_id").val(datos[0]);
        return false;
      }
    })

  });
  
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();

  $("#general").prop("checked", false);

  $("#general").bind('change', function(){   

    if ($("#general").prop("checked") == true)
    {

      $("#pertenece").prop("checked", false);
      $("#cobrado").prop("checked", false);
      $("#pertenece").prop("disabled", true);
      $("#cobrado").prop("disabled", true);

    }else
    {
      $("#pertenece").prop("checked", true);
      $("#cobrado").prop("checked", true);
      $("#pertenece").prop("disabled", false);
      $("#cobrado").prop("disabled", false);

    }
   

  });

  
  //----------------------------------------------------------------------------//


</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-informes table th { background:#e6e6e6;}
    #form-buscar-informes table th span.limpiar { background:#fff;}

</style>