<td colspan="12" align="center" style="background: #e6e6e6; ">
  
  <div class="panel panel-default" >

    <div class="panel-heading" align="center">

      <div  align="center" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">

        <h3 style="float:center;">Detalles Fonoaudiológicos del Paciente</h3>

      </div>

    </div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-paciente-detalle-fono">

         <%= form_for @paciente, remote: true, url: pacientes_detalles_fono_guardar_detalle_fono_url, html: { id: "form-datos-paciente" }, method: 'POST' do |f| %>

          <%= hidden_field_tag :paciente_id, @paciente.id %>
          

        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
         

          <thead>
              
            <tr role="row">
              
              <th style="width:25%;">Antecedentes</th>
              <th style="width:25%;">Datos Clínicos</th>
              <th style="width:25%;">Datos de Escolaridad</th>
              <th style="width:25%;">Datos de Derivación</th>
              
              
            </tr>
            
          </thead>
       
          <tbody id="paciente-detalle-fono">
            <tr>
              <td>
                
                <div class="col-sm-4"><%= label_tag nil, "Antecedentes Personales".html_safe, id: "lbl-antecedentes-personales" %></div><br />
                <div class="col-sm-12">
                  <%= text_area_tag :antecedentes_personales, nil, class: 'form-control input-sm', maxlength: "255", :size =>"25x3" %>
                </div>
                
                <div class="col-sm-4"><%= label_tag nil, "Antecedentes Familiares".html_safe, id: "lbl-antecedentes-familiares" %></div><br />
                <div class="col-sm-12">
                  <%= text_area_tag :antecedentes_familiares,nil,  class: 'form-control input-sm', :size =>"25x3", maxlength: "255"  %>
                 </div>

                 <div class="col-sm-4"><%= label_tag nil, "Antecedentes Hábitos".html_safe, id: "lbl-antecedentes-habitos" %></div><br />
                <div class="col-sm-12">
                  <%= text_area_tag :antecedentes_habitos, nil,  class: 'form-control input-sm' , :size =>"25x3", maxlength: "255" %>
                 </div>
                
                <div class="col-sm-4"><%= label_tag nil, "Otros Antecedentes".html_safe, id: "lbl-antecedentes-familiares" %></div><br />
                <div class="col-sm-12">
                  <%= text_area_tag :antecedentes_otros, nil,  class: 'form-control input-sm' , :size =>"25x3", maxlength: "255" %>
                </div>
                
              </td>


              <td>
                
                 <div class="col-sm-4"><%= label_tag nil, "Sindrome".html_safe, id: "lbl-sindrome" %></div><br />
                <div class="col-sm-12">

                  <div class="col-sm-12"><%= check_box_tag "sindrome", nil, verificar_sindrome(@paciente.id) %></div>
                  <div id= "div_sindrome" hidden="true">

                    <div class="col-sm-12"><%= label_tag nil, "Especificar".html_safe, id: "lbl-especificar-sindrome" %></div>
                    <div class="col-sm-12"><%= text_field_tag :sindrome_especificar, nil, class: 'form-control input-sm'%></div>
                  </div>

                </div>


               
                <div class="col-sm-4"><%= label_tag nil, "Transtornos".html_safe, id: "lbl-transtornos" %></div><br />
                <div class="col-sm-12">

                  <div class="col-sm-12"><%= check_box_tag "transtornos", nil, verificar_transtorno(@paciente.id)  %></div><br/>
                  <div id= "div_transtornos" hidden="true">
                  
                    <div class="col-sm-12"><%= label_tag nil, "Especificar".html_safe, id: "lbl-especificar-transtorno" %></div>
                    <div class="col-sm-12"><%= text_field_tag :transtorno_especificar, nil, class: 'form-control input-sm' %></div>

                  </div>

                </div>


                
                <div class="col-sm-4"><%= label_tag nil, "Enfermedad".html_safe, id: "lbl-enfermedad" %></div><br />
                <div class="col-sm-12">

                  <div class="col-sm-12" ><%= check_box_tag "enfermedad", nil, verificar_enfermedad(@paciente.id)  %></div>  

                  <div id= "div_enfermedad" hidden="true">                
                  
                    <div class="col-sm-12"><%= label_tag nil, "Especificar".html_safe, id: "lbl-especificar-enfermedad"%></div>
                    <div class="col-sm-12"><%= text_field_tag :enfermedad_especificar, nil, class: 'form-control input-sm' %></div>
                  </div>

                </div>


              </td>


              <td>

                <div class="col-sm-12"><%= label_tag nil, "Curso Escolaridad".html_safe %></div>
                <div class="col-sm-5"><%= collection_select :escolaridad_grado, :id, Curso.basica, :id, :descripcion, { include_blank: true}, { class: 'form-control input-sm', style: "width:100px;"} %></div>
                <div class="col-sm-1"></div><br/><br/>
                

                <div class="col-sm-12"><%= label_tag nil, "Tiempo Escolaridad".html_safe %></div>
                <div class="col-sm-12"><%= text_field_tag :escolaridad_tiempo, nil, class: 'form-control input-sm'%></div>
                <div class="col-sm-1"></div><br/><br/>
               

                <div class="col-sm-12"><%= label_tag nil, "Institución Actual".html_safe %></div>
                <div class="col-sm-12"><%= text_field_tag :escolaridad_institucion, nil, class: 'form-control input-sm'%></div>
                <div class="col-sm-1"></div><br/><br/>
                
                


              </td>




              <td>

                <div class="col-sm-12"><%= label_tag nil, "Derivado Por".html_safe %></div>
                <div class="col-sm-12"><%= text_field_tag :datos_derivacion, nil, class: 'form-control input-sm'%></div>
                <div class="col-sm-1"></div><br/><br/>
                


              </td>




            </tr>
            
                
          </tbody>
          
        

        <div style="background:#e6e6e6;">

       
          
        </div>

        </table>
        
        <div class="modal-footer-center" style="background:#e6e6e6;">

          <%= f.submit "Actualizar Datos", class: "btn btn-primary", id: "btn-actualizar-datos-paciente"  %>
          
        </div>

       

       <%end %>  

      </div>
      
    </div>
  </div>  


  <script type="text/javascript">

     /*$("textarea").keydown(function(e){
    // Enter was pressed without shift key
    if (e.keyCode == 13 && !e.shiftKey)
    {
        // prevent default behavior
        e.preventDefault();
    }
    });*/

    //--------------------------RECUPERAR DATOS ----------------------------
     <%if @paciente_detalle_fono.present?%>
      
      <%if @paciente_detalle_fono.antecedentes_personales != nil%>

        $("#antecedentes_personales").val('<%=@paciente_detalle_fono.antecedentes_personales.gsub('<br/>','\n') %>');  
      
      <%end%>

      <%if @paciente_detalle_fono.antecedentes_familiares != nil%>

        $("#antecedentes_familiares").val('<%=@paciente_detalle_fono.antecedentes_familiares.gsub('<br/>','\n')%>');  
      
      <%end%>

      <%if @paciente_detalle_fono.antecedentes_habitos != nil%>

        $("#antecedentes_habitos").val('<%=@paciente_detalle_fono.antecedentes_habitos.gsub('<br/>','\n')%>');  
      
      <%end%>

      <%if @paciente_detalle_fono.antecedentes_otros != nil%>

        $("#antecedentes_otros").val('<%=@paciente_detalle_fono.antecedentes_otros.gsub('<br/>','\n')%>');
      
      <%end%>
     
      <%if @paciente_detalle_fono.sindrome_especificar != nil%>
        
        $("#div_sindrome").show();
        $("#sindrome_especificar").val('<%=@paciente_detalle_fono.sindrome_especificar%>');

      <%end%>

      <%if @paciente_detalle_fono.transtorno_especificar != nil%>
        
        $("#div_transtornos").show();
        $("#transtorno_especificar").val('<%=@paciente_detalle_fono.transtorno_especificar%>');

      <%end%>

      <%if @paciente_detalle_fono.enfermedad_especificar != nil%>
        
        $("#div_enfermedad").show();
        $("#enfermedad_especificar").val('<%=@paciente_detalle_fono.enfermedad_especificar%>');

      <%end%>

      <%if @paciente_detalle_fono.escolaridad_grado_id != nil%>

        $("#escolaridad_grado_id").val('<%=@paciente_detalle_fono.escolaridad_grado_id%>');
      
      <%end%>

      <%if @paciente_detalle_fono.escolaridad_tiempo != nil%>

        $("#escolaridad_tiempo").val('<%=@paciente_detalle_fono.escolaridad_tiempo%>');
      
      <%end%>

      <%if @paciente_detalle_fono.escolaridad_institucion != nil%>

        $("#escolaridad_institucion").val('<%=@paciente_detalle_fono.escolaridad_institucion%>');
      
      <%end%>

      <%if @paciente_detalle_fono.datos_derivacion != nil%>

        $("#datos_derivacion").val('<%=@paciente_detalle_fono.datos_derivacion%>');
      
      <%end%>

    <%end%>
    
    
    
    //-----------------------------------------------------------------------
    $("#sindrome").bind('change', function () {

    if( $('#sindrome').prop('checked')) {

      $('#sindrome').val(true);
      $('#div_sindrome').show();
      

    }else{
      $('#sindrome').val(false);
      $('#div_sindrome').hide();
    }
    
  })

  $("#transtornos").bind('change', function () {

    if( $('#transtornos').prop('checked')) {

      $('#transtornos').val(true);
      $('#div_transtornos').show();

    }else{

      $('#transtornos').val(false);
      $('#div_transtornos').hide();
    }
    
  })

  $("#enfermedad").bind('change', function () {

    if( $('#enfermedad').prop('checked')) {

      $('#enfermedad').val(true);
      $('#div_enfermedad').show();
      

    }else{
      $('#enfermedad').val(false);
      $('#div_enfermedad').hide();
    }
    
  })





  </script>