<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Hola <%= "#{@usuario.persona.nombre_persona}" %></h1>
    <p>
      Se ha generado exitosamente su nueva contraseña.<br />
      <b>Nacionalidad: </b><%= @usuario.persona.nacionalidad.descripcion if @usuario.persona && @usuario.persona.nacionalidad %><br />
      <b>Tipo de Documento: </b><%= @usuario.persona.tipo_documento.descripcion if @usuario.persona && @usuario.persona.tipo_documento %><br />
      <b>N° Documento: </b><%= @usuario.persona.documento_persona if @usuario.persona %><br />
      <b>Contrase&ntilde;a: </b><%= @password %><br />
    </p>
    <p>
    
      Ingrese al RUE o RUE Superior mediante los siguientes enlaces.<br /><br />

      <%= link_to "Ingresar al RUE", "#{Rails.env == 'production' ? 'http://rue.mec.gov.py' : 'http://localhost:3000'}" %>
      <br />
      <%= link_to "Ingresar al RUE Superior", "#{Rails.env == 'production' ? 'http://rue.mec.gov.py/rue_superior/' : 'http://localhost:3000'}" %>
        
    </p>
    <b>Si desea cambiar su contraseña puede realizar desde la opcón "Mi cuenta".</b> <br />
  </body>
</html>
