<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Adjuntar Archivo</h4>
      
    </div>
    
      
    <%= form_for @resolucion, remote: true, url: citas_detalles_fono_guardar_resolucion_adjunta_url, html: { id: "form-adjuntar-resolucion", multipart: true }, method: 'POST' do |f| %>    

      <div class="modal-body">

        <div class="panel-body">
          
          <%= hidden_field_tag :window_id, params[:window_id]%>
          <%= f.hidden_field :cita_detalle_fono_id, value: @cita_detalle_fono.id %>
          <%= f.hidden_field :id %>
          <%= hidden_field_tag :cita_id, params[:cita_id]%>
            
          
          <div class="col-sm-4"><%= f.label :fecha_emision, "Fecha Archivo".html_safe %></div>
          <div class="col-sm-7"> 
            <div class='input-group' style="width:150px;float:left;margin-top:5px;">
              <%= f.text_field :fecha_emision, class: 'form-control input-sm',value:"#{@resolucion.fecha_emision.strftime("%d/%m/%Y")}",readonly: true, style: "margin-top:0px;" %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
          <div class="col-sm-1"></div><br/><br/><br/>

          <div class="col-sm-4"><%= f.label nil, "Código Archivo".html_safe, id: "lbl-numero" %></div>
          <div class="col-sm-7"><%= f.text_field :numero, class: 'form-control input-sm',readonly: true,style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br/><br/><br/>
          
          <div class="col-sm-4"><%= f.label :descripcion, "Descripci&oacute;n".html_safe %></div>
          <div class="col-sm-7"><%= f.text_area :descripcion, class: 'form-control input-sm',readonly: true,style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br/><br/><br/><br/>

          <div class="col-md-4"><%= f.label nil, "Adjunto #{attr_requerido}".html_safe, id: "lbl-adjunto" %></div>
          <div class="col-md-7"><%= f.file_field :data,:class => "form-control input-sm" %></div>
          <div class="col-md-1"></div><br /><br />          
                  
        </div>
        
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 

        <%= link_to "Guardar","#", class: "btn btn-primary", id: "btn-guardar-adjunto-fono" %>
          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-adjuntar-persona label, #form-adjuntar-resolucion input[type='text'], #form-form-adjuntar-resolucion select { float:left; margin-top:5px;}  
  #form-adjuntar-resolucion {clear:both; }
  #form-adjuntar-resolucion label { width:200px;font-size:12px;margin-top:10px;}
  #form-adjuntar-resolucion #numero { width:100%;}
  #form-adjuntar-resolucion #fecha_emision { width:100%;}
  #form-adjuntar-resolucion #descripcion { width:100%;}
  #form-adjuntar-resolucion #adjunto { width:100%;padding:0px;}
</style>

<script type="text/javascript">
  $("#form-adjuntar-resolucion").bind("submit", function () {
    $("#btn-actualizar-resolucion").attr('disabled', true);
  })

  $("#btn-guardar-adjunto-fono").bind('click', function () {

    $("#form-adjuntar-resolucion").submit();

  })


  
  setTimeout(function(){ 
    $("#resolucion_data").focus();
  }, 1000);
  aplicar_datepicker2();
</script>
