<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Emitir Archivo</h4>
      
    </div>
    
      
    <%= form_for @resolucion, remote: true, url: citas_detalles_fono_guardar_resolucion_url, html: { id: "form-emitir-resolucion", multipart: true }, method: 'POST' do |f| %>    

      <div class="modal-body">

        <div class="panel-body">
          
          <%= hidden_field_tag :window_id, params[:window_id]%>
          <%= hidden_field_tag :cita_id, params[:cita_id]%>

          <%if @cita_detalle_fono.present?%>


            <%= f.hidden_field :cita_detalle_id, value: @cita_detalle_fono.id %>

          
          <%end%>  
          
          <div class="col-sm-4"><%= f.label :fecha_emision, "Fecha Archivo #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"> 
            <div class='input-group date' style="width:150px;float:left;margin-top:5px;">
              <%= f.text_field :fecha_emision, class: 'form-control input-sm',value:"#{Time.now.strftime("%d/%m/%Y")}", style: "margin-top:0px;" %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
          <div class="col-sm-1"></div><br/><br/><br/>

          <div class="col-sm-4"><%= f.label nil, "Código Archivo #{attr_requerido}".html_safe, id: "lbl-numero" %></div>
          <div class="col-sm-7"><%= f.text_field :numero, class: 'form-control input-sm',style:"text-transform:uppercase;", maxlength: "6" , placeholder: "ARC001" %></div>
          <div class="col-sm-1"></div><br/><br/><br/>
          
          <div class="col-sm-4"><%= f.label :descripcion, "Descripci&oacute;n #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_area :descripcion, class: 'form-control input-sm',style:"text-transform:uppercase;",  :size =>"25x5", maxlength: "255" %></div>
          <div class="col-sm-1"></div><br /> <br /><br />        
                  
        </div>
        
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        
         <%= link_to "Guardar","#", class: "btn btn-primary", id: "btn-guardar-resolucion" %>

      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-editar-persona label, #form-emitir-resolucion input[type='text'], #form-form-emitir-resolucion select { float:left; margin-top:5px;}  
  #form-emitir-resolucion {clear:both; }
  #form-emitir-resolucion label { width:200px;font-size:12px;margin-top:10px;}
  #form-emitir-resolucion #numero { width:100%;}
  #form-emitir-resolucion #fecha_emision { width:100%;}
  #form-emitir-resolucion #descripcion { width:100%;}
  #form-emitir-resolucion #adjunto { width:100%;padding:0px;}
</style>

<script type="text/javascript">

   $("#btn-guardar-resolucion").bind('click', function () {

     $("#form-emitir-resolucion").submit();

    })

  setTimeout(function(){ 
    $("#persona_documento_persona").focus();
  }, 1000);
  aplicar_datepicker2();
</script>