
<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Editar Adelanto</h4>
      
    </div>

    <%= form_for @detalle_credito, remote: true, url: detalles_creditos_actualizar_url, html: { id: "form-editar-detalle-credito" }, method: 'POST' do |f| %>

      <%= f.hidden_field :id %>
      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= f.label :descripcion, "Descripción #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_field :descripcion, class: 'form-control input-sm',style:"text-transform:uppercase;" %></div>
          <div class="col-sm-1"></div><br />    
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">
        <%= link_to "<span class='glyphicon glyphicon-remove'></span> Cerrar".html_safe, "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Guardar".html_safe, class: "btn btn-primary", id: "btn-guardar-detalle-credito" %>          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-editar-detalle-credito label, #form-editar-detalle-credito input[type='text'], #form-editar-detalle-credito select { float:left; margin-top:5px;}
  #form-editar-detalle-credito br {clear:both; }
  #form-editar-detalle-credito label { width:200px;font-size:12px;margin-top:10px;}


</style>

<script type="text/javascript">
  aplicar_datepicker2();
</script>
