<% if personas.present? %>

  <% personas.each do |p| %>

    <tr>

      <td style="width:50px;"><%= p.id %></td>
      <td><%= p.nacionalidad.descripcion if p.nacionalidad %></td>
      <td><%= p.tipo_documento.descripcion if p.tipo_documento %></td>
      <td style="width:120px;"><%= p.documento_persona %></td>
      <td style="text-transform:uppercase;"><%= p.nombre_persona %></td>
      <td style="text-transform:uppercase;"><%= p.apellido_persona %></td>
      <td style="text-transform:uppercase;"><%= p.direccion %></td>
      <td><%= p.celular%></td>
      <td><%= p.correo_electronico%></td>
      <td style="text-align:center;width:150px;">
      <%= link_to_editar_persona(p) %>
      <%= link_to_unificar_persona(p) %>
      <%= link_to icon_eliminar, personas_eliminar_path(id: p.id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar la persona', data: { confirm: "Está seguro de eliminar la persona ?"} %> 
      </td>

    </tr>

  <% end %>

<% else %>

  <tr>

    <td colspan="9"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>

<% end %>
