<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Gastos</h4>
      
    </div>

    <%= form_for @produccion_detalle_debito, remote: true, url: produccion_guardar_detalle_debito_url, html: { id: "form-agregar-controlador" } do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>

      <%= hidden_field_tag :produccion_id, params[:produccion_id]%>

      <div class="modal-body">

        <div class="panel-body">
      
        <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Detalle Débito#{attr_requerido}".html_safe %></div>
         <div class="col-sm-7"><%= collection_select :detalle_debito, :id, DetalleDebito.orden_01, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm',readonly: true  }%></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Monto#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :monto, nil ,class: 'form-control input-sm', :onkeyup=>' formatear_numero(this)'  %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
            <div class="col-sm-4"><%= label_tag :nil, "Fecha #{attr_requerido}".html_safe %></div>
            <div class="col-sm-5"><%= date_field_tag :fecha, @fecha, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
            </div>    
          <div class="col-sm-1"></div><br /> 
  
        </div>

        
      </div>
      
      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Guardar", class: "btn btn-primary", id: "btn-guardar-controlador" %>
          
      </div>
    
    <% end %>

  </div>
</div>

<style type="text/css">

  #form-agregar-controlador label, #form-agregar-controlador input[type='text'] { float:left; margin-top:5px;}
  #form-agregar-controlador br {clear:both; }
  #form-agregar-controlador label { width:200px; font-size:12px;}

</style>

<script type="text/javascript">

  setTimeout(function(){ $("#controlador_descripcion").focus(); }, 1000);
  
  aplicar_datepicker2();
  
  $("#monto").bind('onkeypress', function(){   
    function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
    }

    });

</script>