<%= javascript_include_tag "modulos/usuarios.js" %>

<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Producción</h4>
      
    </div>
    
     <%= form_for @produccion, remote: true, url: produccion_guardar_url, html: { id: "form-agregar-produccion" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">
        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag :nil, "Código Producción #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :codigo_produccion,  @nuevo_autoincremento ,class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />
        
          <div class="col-sm-1"></div><br />
            <div class="col-sm-4"><%= label_tag :nil, "Fecha Producción #{attr_requerido}".html_safe %></div>
            <div class="col-sm-5"><%= date_field_tag :fecha_produccion, @fecha, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
            </div>    
          <div class="col-sm-1"></div><br />  

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Carga Actual (Gasoil)#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= number_field_tag :gasoil_actual, nil ,class: 'form-control input-sm'%></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag nil, "Flota #{attr_requerido}".html_safe %></div>
         <div class="col-sm-7"><%= hidden_field_tag :flota_id, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-7"><%= text_area_tag :flota_produccion, nil, rows: 4 ,class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag :nil, "Chofer #{attr_requerido}".html_safe %>
            <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i>".html_safe, "#", id: "link-to-agregar-persona", class: "btn btn-primary pull-left" %>


          </div>
          <div class="col-sm-7"><%= hidden_field_tag :chofer_id, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-7"><%= text_area_tag :chofer_produccion, nil ,rows: 2,class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Origen#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :origen, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Destino#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :destino, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Destino Final#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :destino_final, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-sm-4"><%= label_tag :nil, "Cliente #{attr_requerido}".html_safe %>
            <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i>".html_safe, "#", id: "link-to-agregar-cliente", class: "btn btn-primary pull-left"%>
             

          </div>
          <div class="col-sm-7"><%= hidden_field_tag :cliente_id, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-7"><%= text_area_tag :cliente_produccion, nil ,rows: 2,class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />
          
          <div class="col-sm-1"></div><br />
          <div class="col-sm-4 "><%= label_tag :nil, "Costo#{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= text_field_tag :costo, nil ,:onkeyup=>' formatear_numero(this)',class: 'form-control input-sm'%></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Pertenece?".html_safe %></div>
          <div class="col-sm-7"><%= check_box_tag :pertenece, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-1"></div><br />
          <div class="col-sm-4"><%= label_tag :nil, "Cobrado?".html_safe %></div>
          <div class="col-sm-7"><%= check_box_tag :cobrado, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />
          <div class="col-sm-1"></div><br/>

          <div class="col-sm-4"><%= label_tag nil, "Observaciones ".html_safe %></div>
          <div class="col-sm-7"><%= hidden_field_tag :observaciones, nil ,class: 'form-control input-sm' %></div>
          <div class="col-sm-7"><%= text_area_tag :flota_produccion, nil, rows: 4 ,class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

        
         
        
        </div>        
       
      
      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= submit_tag  "Guardar", class: "btn btn-primary", id: "btn-guardar-produccion" %>
          
      </div>

    <% end %>

  </div>
  
</div>
    <%= modal_window( window_id: "modal-window-agregar-persona", link_to_id: "#link-to-agregar-persona", url: personas_agregar_path( window_id: "modal-window-agregar-persona") )%>

    <%= modal_window( window_id: "modal-window-agregar-cliente", link_to_id: "#link-to-agregar-cliente", url: clientes_agregar_path( window_id: "modal-window-agregar-cliente") )%>  

<style type="text/css">

  #form-agregar-produccion label, #form-agregar-produccion input[type='text'], #form-agregar-produccion select { float:left; margin-top:5px;}
  #form-agregar-produccion br {clear:both; }
  #form-agregar-produccion label { width:200px;font-size:12px;margin-top:10px;}
  #form-agregar-produccion #codigo_produccion { width:60%;}
  #form-agregar-produccion #fecha_produccion { width:60%;}
  .ui-autocomplete{z-index: 1000000; font-size: 10px;}

</style>

<script type="text/javascript">

  aplicar_datepicker2();

  
  
  //Obtener chofer
  $("#fecha_produccion").bind('change', function(){   

    var personas = [];
    $("#chofer_produccion").val('');
    $("#chofer_id").val('');
    $("#chofer_produccion").attr('readonly', false);

    $.getJSON("<%= url_for(personas_buscar_chofer_path) %>", { chofer_produccion: $("#chofer_produccion").val()}, function(j){
        
      var nombre_persona = "";
      var options = "<option value=''> -- Seleccione un Chofer -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_persona != nombre_persona ){
          
          personas.push( {value: j[i].id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona });
          nombre_persona =j[i].id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona ;

          options += "<option value="+ j[i].id +" - "+ j[i].nombre_persona+" "+j[i].apellido_persona + "</option>"

        }

      }

      $("#chofer_id").html(options);

    })

    $("#chofer_produccion").autocomplete({

      minLength: 1,
      source: personas,
      focus: function( event, ui ) {
      
        $("#chofer_produccion" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#chofer_produccion").val( ui.item.label );
        $("#chofer_id").val(datos[0]);
        return false;
      }
    })

  });

  //Obtener cliente
  $("#fecha_produccion").bind('change', function(){   

    var clientes = [];
    $("#cliente_produccion").val('');
    $("#cliente_id").val('');
    $("#cliente_produccion").attr('readonly', false);

    $.getJSON("<%= url_for(clientes_buscar_cliente_path) %>", { cliente_produccion: $("#cliente_produccion").val()}, function(j){
        
      var nombre_persona = "";
      var options = "<option value=''> -- Seleccione un Cliente -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_persona != nombre_persona ){
          
          clientes.push( {value: j[i].id +" -Razon Social: "+ j[i].razon_social+" Cliente: "+ j[i].cliente_nombre+" "+j[i].cliente_apellido });
          nombre_persona =j[i].id +" - "+ j[i].razon_social+" "+ j[i].cliente_nombre+" "+j[i].cliente_apellido ;

          options += "<option value="+ j[i].id +" -Razon Social:"+ j[i].razon_social+" Cliente: "+ j[i].cliente_nombre+" "+j[i].cliente_apellido + "</option>"

        }

      }

      $("#chofer_id").html(options);

    })

    $("#cliente_produccion").autocomplete({

      minLength: 1,
      source: clientes,
      focus: function( event, ui ) {
      
        $("#cliente_produccion" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#cliente_produccion").val( ui.item.label );
        $("#cliente_id").val(datos[0]);
        return false;
      }
    })

  });

  //Obtener Flota
  $("#fecha_produccion").bind('change', function(){   

    var flotas = [];
    $("#flota_produccion").val('');
    $("#flota_id").val('');
    $("#flota_produccion").attr('readonly', false);

    $.getJSON("<%= url_for(flotas_buscar_flota_path) %>", { flota_produccion: $("#flota_produccion").val()}, function(j){
        
      var nombre_flota = "";
      var options = "<option value=''> -- Seleccione una Flota -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_flota != nombre_flota ){
          
          flotas.push( {value: j[i].id +" - Código Camión: "+ j[i].codigo_flota + "| Marca: "+ j[i].marca+"| Chapa: "+j[i].chapa +"| Descripción: "+j[i].descripcion });
          nombre_flota =j[i].id +" - "+ j[i].marca+" "+j[i].chapa ;

          options += "<option value="+ j[i].id +" - Código Camión: "+ j[i].codigo_flota + "| Marca: "+ j[i].marca+"| Chapa: "+j[i].chapa +"| Descripción: "+j[i].descripcion+ "</option>"

        }

      }

      $("#chofer_id").html(options);

    })

    $("#flota_produccion").autocomplete({

      minLength: 1,
      source: flotas,
      focus: function( event, ui ) {
      
        $("#flota_produccion" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#flota_produccion").val( ui.item.label );
        $("#flota_id").val(datos[0]);
        return false;
      }
    })

  });

$("#costo").bind('onkeypress', function(){   
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

});



</script>
