<%= link_to icon_detalles_adelanto, "#", id: "link-to-produccion-detalle-credito-#{produccion.produccion_id}", class: 'btn btn-warning btn-xs', title: 'Haga click para ver los detalles de adelantos.', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-produccion-detalle-credito-<%= produccion.produccion_id %>").bind('click', function(){

    var contenido = $.trim($("#produccion-detalle-credito-<%= produccion.produccion_id %>").html());

    $(".produccion-detalle-credito").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='produccion-detalle-credito-<%= produccion.produccion_id %>' class='produccion-detalle-credito'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(produccion_produccion_detalle_credito_path) %>',  
        data: { produccion_id: <%= produccion.produccion_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>
