<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Planilla Resumen Producción</h4>
      
    </div>

    <%= form_tag produccion_planilla_resumen_produccion_url, remote: true, id: "form-notas-alumnos-planillas-ordinarias-basicas", method: :get do %>

      
      <%= hidden_field_tag :window_id, params[:window_id]%>
      <%= hidden_field_tag :produccion_id, params[:produccion_id]%>
       
      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag nil, "Fecha de Impresi&oacute;n #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"> 
            <div class='input-group date' style="width:150px;float:left;margin-top:5px;">
              <%= text_field_tag :fecha_impresion, params[:fecha_impresion], class: 'form-control input-sm', style: "margin-top:0px;" %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
          <div class="col-sm-1"></div><br /><br />

        </div>
            
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');return false;" %> 
        <%= submit_tag "Imprimir", class: "btn btn-primary", id: "btn-notas-alumnos-planillas-ordinarias-basicas" %>
          
      </div>

    <% end %>
  </div>
</div>

<style type="text/css">

  #form-notas-alumnos-planillas-ordinarias-basicas label, #form-notas-alumnos-planillas-ordinarias-basicas input[type='text'] { float:left; margin-top:5px;}
  #form-notas-alumnos-planillas-ordinarias-basicas br {clear:both; }
  #form-notas-alumnos-planillas-ordinarias-basicas label { width:200px; font-size:12px;}

</style>

<script type="text/javascript">

  aplicar_datepicker2();
  setTimeout(function(){
    
   

    <% unless params[:fecha_impresion].present? %>
        
        $("#fecha_impresion").val("<%= Time.now.strftime('%d/%m/%Y') %>");
       

    <% end %>

  }, 1000);

  $("#btn-notas-alumnos-planillas-ordinarias-basicas").bind('click', function () {


    valido = true;
    msg = ""

    if($("#fecha_impresion").val().length == 0){

      msg = "El campo fecha de impresión no puede quedar vacio."
      valido = false;  
      
    }

    if(valido){

      swal({
        title: "Está seguro de imprimir la planilla ?",
        text: "",
        type: "info",
        showCancelButton: true,
        confirmButtonColor: "#4cae4c",
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        closeOnConfirm: false,
        html: false
      }, function(){
                          
        swal("Imprimiendo... aguarde!!", "", "success");
        $("#form-notas-alumnos-planillas-ordinarias-basicas").submit();
    
      });

    }else{

      swal(msg, "", "error");
    
    }

    return false;

  })

</script>
