<div style="width: 100%; text-align: center; margin-top:10px;">
 
    <%#= wicked_pdf_image_tag 'escudo.png', :size => "48x40" %>
  
    <p style="font-size: 14px; text-align: center; font-family: times new roman">
    
      Sistema de Control de Producción - Ultrón<br />
      <label style="font-size: 18px;">RESUMEN DE PRODUCCIÓN</label>
      <br />
      <label style="font-size: 15px;">Transporte de Cargas y Servicio de Logística Kanty</label>
      <br />
      <label style="font-size: 15px;"></label>
    </p>
    </br>
    </br>
    
</div>

<div id="cont" style="width:80%;">

  <table style="text-align: left; font-size: 12px; margin-left: 10%;" width="80%">
  
    <tr>
    
      <th width="20%">FECHA: </th>
      <td width="40%"><%=@produccion.fecha_produccion.strftime('%m/%d/%Y') %></td>

       
      <th width="20%">CHOFER:</th>
      <td width="40%"><%=@produccion.nombre_chofer%> <%=@produccion.apellido_chofer%></td>
    
    </tr>
    
    <tr>
    
      <th width="20%">CLIENTE:</th>
      <td width="40%"><%=@produccion.cliente_nombre%> <%=@produccion.cliente_apellido%></td>

      <th width="20%">RAZON SOCIAL:</th>
      <td width="40%"><%=@produccion.razon_social%></td>

    </tr>

    <tr>
    
        <th width="20%">ORIGEN:</th>
        <td width="40%"><%=@produccion.origen%></td>

        <th width="20%">DESTINO:</th>
        <td width="40%"><%=@produccion.destino%></td>

    </tr>
    
     <tr>
    
        <th width="20%">DESTINO FINAL:</th>
        <td width="40%"><%=@produccion.destino_final%></td>

        <th width="20%">GASOIL INICIAL:</th>
        <td width="40%"><%=@produccion.gasoil_actual%></td>

    </tr>

    <tr>
    
        <th width="20%">FLOTA:</th>
        <td width="40%"><%=@produccion.codigo_flota%> - <%=@produccion.marca%>-<%=@produccion.modelo%></td>

        <th width="20%">COSTO:</th>
        <td width="40%"><%=@produccion.costo.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse%></td>


    </tr>

    <tr>
    
        <th width="20%">ESTADO COBRO:</th>

        <%if @produccion.cobrado%>
        
          <td width="40%">Cobrado</td>
        
        <%else%>
        
          <td width="40%">Falta Cobro</td>
        
        <%end%>

        <th width="20%">PERTENECE:</th>
        <%if @produccion.pertenece%>
        
          <td width="40%">Propio</td>
        
        <%else%>
        
          <td width="40%">Particular</td>
        
        <%end%>


    </tr>

    
    
  </table>


  <table style="text-align: left; font-size: 12px; margin-left: 10%;" width="80%">
    
    <tr>
    
        <th width="20%">OBSERVACIONES:</th>
        <td width="80%"><%=@produccion.observaciones%></td>

    </tr>

  </table> 

</div>
