
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>
<!--
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
-->
  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Producciones</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar producción".html_safe, "#", id: "link-to-agregar-produccion", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-produccion", link_to_id: "#link-to-agregar-produccion", url: produccion_agregar_path( window_id: "modal-window-agregar-produccion") )%>
    
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-produccion">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag produccion_lista_path, remote: true, id: "form-buscar-produccion"  do  %>

        <tr>

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th style="width:130px;">
            <span>Código Producción</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_codigo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_codigo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
            <span>Cliente<br/> <em style="font-size: 7px;"> Ej: JUAN VALDEZ</em></span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_cliente, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_cliente');"><i class="fa fa-times"></i></span>
            </div>
            <em class="nmb"></em>
          </th>
          
          <th style="width:130px;">
            <div><%= label_tag nil, "Fecha".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_produccion_fecha, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_fecha');"><i class="fa fa-times"></i></span>
              </div>
         </th>

            <%= hidden_field_tag :form_buscar_flotas_marca_id %>
            <%= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion,
                  atributo_tipo: :text, 
                  model: :Marca, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion))",
                  orden: "descripcion"), 
              parametro_id: "form_buscar_flotas_marca", 
              resultado_id: "form_buscar_flotas_marca_id",
              min_length: 2
              ) %>

          <th style="width:130px;">
            <span>Chofer</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_chofer, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_chofer');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
            <span>Codigo Flota</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_codigo_flota, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_codigo_flota');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
            <span>Marca/Modelo</span>
            <div class="input-group input-group-sm">
            </div>
          </th>

          <th style="width:130px;">
            <span>Origen</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_origen, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_origen');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th style="width:130px;">
            <span>Destino</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_destino, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_destino');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th style="width:130px;">
            <span>Destino Final</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_destino_final, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_destino_final');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th style="width:130px;">
            <span>Monto Flete</span>
            <div class="input-group input-group-sm">
              <%#= text_field_tag :form_buscar_produccion_monto, nil, :class => 'form-control', :placeholder => "" %>
             
            </div>
          </th> 

          <th style="width:130px;">
            <span>Cobrado?</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_cobrado, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_cobrado');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
            <span>Pertenece?</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_produccion_pertenece, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_produccion_pertenece');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:130px;">
              <span>Estado</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_produccion, :estado_produccion_id, EstadoProduccion.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-produccion', '#form_buscar_procesos_academicos_estado');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

        </tr>


          <th style="width:150px;"></th>

        </tr>


        <% end %>

      </thead> 

    <tbody id="produccion-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

 
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-produccion input, #table-produccion select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-produccion").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-produccion").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-produccion").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-controladores table th { background:#e6e6e6;}
    #form-buscar-controladores table th span.limpiar { background:#fff;}

</style>
