<%= javascript_include_tag "modulos/usuarios.js" %>
<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
      
    </div>

    <%= form_for @usuario, remote: true, url: usuarios_actualizar_url, html: { id: "form-editar-usuario" }, method: 'POST' do |f| %>

      <%= f.hidden_field :id %>
      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= f.label :email, "Correo #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.text_field :email, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= f.label :active, "Activo ?".html_safe %></div>
          <div class="col-sm-7"><%= f.check_box :active %></div>
          <div class="col-sm-1"></div><br />
          
        </div>
        
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Actualizar", class: "btn btn-primary", id: "btn-actualizar-usuario" %>
          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-editar-usuario label, #form-editar-usuario input[type='text'] { float:left; margin-top:5px;}
  #form-editar-usuario br {clear:both; }
  #form-editar-usuario label { width:200px;}

</style>

<script type="text/javascript">

  setTimeout(function(){ 
    $("#usuario_email").focus();
  }, 1000);

</script>
