<%= javascript_include_tag "modulos/usuarios.js" %>
<div class="modal-dialog" style="text-align:left;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
      
    </div>

    <%= form_for @usuario, remote: true, url: usuarios_actualizar_password_url, html: { id: "form-reset-password" }, method: 'POST' do |f| %>

      <%= f.hidden_field :id %>
      <%= hidden_field_tag :window_id, params[:window_id]%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= f.label :password, "Contrase&ntilde;a #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.password_field :password, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= f.label :password_confirmation, "Confirmar Contrase&ntilde;a #{attr_requerido}".html_safe %></div>
          <div class="col-sm-7"><%= f.password_field :password_confirmation, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />
          
        </div>
        
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Actualizar", class: "btn btn-primary", id: "btn-actualizar-password" %>
          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-reset-password label, #form-reset-password input[type='password'] { float:left; margin-top:5px;}
  #form-reset-password br {clear:both; }
  #form-reset-password label { width:200px;}
  #form-reset-password input[type='password'] {width:60%;}

</style>

<script type="text/javascript">

  setTimeout(function(){ 
    $("#usuario_password").focus();
  }, 1000);

</script>
