<%= link_to icon_detalles, "#", id: "link-to-cita-detalle-fono-#{cita_id}", class: 'btn btn-success btn-xs', title: 'Haga click para agregar detalles a la cita', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-cita-detalle-fono-<%= cita_id %>").bind('click', function(){

    var contenido = $.trim($("#cita-detalle-fono-<%= cita_id %>").html());

    $(".cita-detalle-fono").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='cita-detalle-fono-<%= cita_id %>' class='cita-detalle-fono'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(citas_detalles_fono_cita_detalle_fono_path) %>',  
        data: { cita_id: <%= cita_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>