<% if precios.present? %>

  <% precios.each do |pre| %>

    <tr>

      <td><%= pre.id %></td>
      <td><%= pre.codigo%></td>
      <td><%= pre.descripcion%></td>
      <td><%= pre.monto.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      <td> <%= check_box_tag "predeterminado", nil, verificar_predeterminado(pre.id) %></td>

      <td style="width:120px;"> 

        <%= link_to_editar_precio(pre) %>
        
        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{pre.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-precio", title: 'Haga click para eliminar el precio'  %>
       
       <%= link_to icon_confirmar,"#", onclick: "marcar_predeterminado(#{pre.id});return false;", class: "btn btn-success btn-xs", id: "btn-marcar-predeterminado", title: 'Haga click para marcar este precio como predeterminado.'  %>
         
       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate precios, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(precio_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de precios",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(precios_eliminar_path) %>", 
                data: {id: precio_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    function marcar_predeterminado(precio_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar este precio como predeterminado éste quedara como principal al crear una cita.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(precios_marcar_predeterminado_path) %>", 
                data: {id: precio_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
