<% if citas.present? %>

  <% citas.each do |cit| %>

    <tr>

      <td><%= cit.cita_id %></td>
      <td><%= cit.fecha_cita.strftime('%d/%m/%Y')%></td>
      <td><%= cit.paciente_documento.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse%></td>
      <td><%= cit.paciente_nombre%></td>
      <td><%= cit.paciente_apellido%></td>
      <td><%= cit.tipo_consulta%></td>
      
      <%if rol_administrador%>
        
        <td><%= cit.precio.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
      
      <%end%>
      
      <td><%= cit.estado_cita%></td>
      <td><%= cit.estado_cobro%></td>

      <td style="width:120px;"> 

        <%if cit.estado_cita_id == PARAMETRO[:estado_cita_en_espera] || cit.estado_cita_id == PARAMETRO[:estado_cita_postergado]%>
          
          <%= link_to_editar_cita(cit) if acceso_permitido("citas.editar")%>

          <%= link_to icon_borrar,"#", onclick: "eliminar_registro(#{cit.cita_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-cita", title: 'Haga click para eliminarla cita' if acceso_permitido("citas.eliminar") %>

          <%= link_to icon_confirmar,"#", onclick: "cambiar_estado_cita_en_espera_a_en_consultorio(#{cit.cita_id});return false;", class: "btn btn-success btn-xs", id: "btn-cambiar-estado-en-espera", title: 'Haga click para cambiar el estado de esta cita a En Consultorio.' if acceso_permitido("citas.cambiar_estado_cita_en_espera_a_en_consultorio")%>

          <%= link_to icon_rellenar, "#", id:"link-to-postergar-cita-#{cit.cita_id}", class: "btn btn-warning btn-xs", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;", title: 'Haga click aquí para postergar esta cita a una siguiente fecha.' if acceso_permitido("citas.postergar_cita") %>

          <%= modal_window( window_id: "modal-window-postergar-cita-#{cit.cita_id}", link_to_id: "#link-to-postergar-cita-#{cit.cita_id}", url: citas_postergar_cita_path( window_id: "modal-window-postergar-cita-#{cit.cita_id}", cita_id: cit.cita_id))%>

        <%end%>

        <%if cit.estado_cita_id == PARAMETRO[:estado_cita_en_consultorio]%>
          <%= link_to "<i class='glyphicon glyphicon-repeat'></i>".html_safe,"#", onclick: "cambiar_estado_cita_en_consultorio_a_en_espera(#{cit.cita_id} );return false;", class: "btn btn-info btn-xs", id: "btn-cambiar-estado-en-consultorio-a-en-espera", title: 'Haga click aquí para volver al estado anterior de la Cita En Espera' if acceso_permitido("citas.cambiar_estado_cita_en_consultorio_a_en_espera")%>

          <%= link_to_cita_detalle_fono(cit.cita_id) if acceso_permitido("citas_detalles_fono.cita_detalle_fono") %>

          <% @cita_detalle_fono = CitaDetalleFono.where("cita_id = ?", cit.cita_id).first %>

          <%if @cita_detalle_fono.present?%>

            
            <%if @cita_detalle_fono.resolucion_id != nil %>
            
              <% resolucion = Resolucion.where("id = ?", @cita_detalle_fono.resolucion_id).first %>
  
              <%if resolucion.data != nil && resolucion.habilitado == false%>


                <%= link_to icon_confirmar,"#", onclick: "habilitar_descarga_archivos(#{@cita_detalle_fono.id}, #{cit.cita_id} );return false;", class: "btn btn-success-dos btn-xs", id: "btn-habilitar-descarga-archivo", title: 'Haga click para autorizar la descarga de adjuntos en esta cita' if acceso_permitido("citas_detalles_fono.habilitar_descarga_archivo")%>

              <%end%>

              <%if resolucion.data != nil && resolucion.habilitado == true%>


                <%= link_to icon_eliminar,"#", onclick: "deshabilitar_descarga_archivos(#{@cita_detalle_fono.id}, #{cit.cita_id} );return false;", class: "btn btn-success-dos btn-xs", id: "btn-habilitar-descarga-archivo", title: 'Haga click para desautorizar la descarga de adjuntos en esta cita' if acceso_permitido("citas_detalles_fono.deshabilitar_descarga_archivo")%>
                
              <%end%>

            <%end%>

            <%= link_to icon_confirmar,"#", onclick: "cambiar_estado_cita_en_consultorio_a_terminado(#{cit.cita_id} );return false;", class: "btn btn-success btn-xs", id: "btn-cambiar-estado-en-consultorio", title: 'Haga click para cambiar el estado de esta cita a Terminado' if acceso_permitido("citas.cambiar_estado_cita_en_consultorio_a_terminado")%>

          <%end%>

        <%end%>


        <%if cit.estado_cita_id == PARAMETRO[:estado_cita_terminado]%>

          <%= link_to "<i class='glyphicon glyphicon-repeat'></i>".html_safe,"#", onclick: "cambiar_estado_cita_terminado_a_en_consultorio(#{cit.cita_id} );return false;", class: "btn btn-info btn-xs", id: "btn-cambiar-estado-terminado-a-en-consultorio", title: 'Haga click aquí para volver al estado anterior de la Cita En Consultorio' if acceso_permitido("citas.cambiar_estado_cita_terminado_a_en_consultorio")%>

          <%= link_to_cita_detalle_fono_terminado(cit.cita_id) %>

          <%if cit.estado_cobro_id == PARAMETRO[:estado_cobro_pendiente] || cit.estado_cobro_id == PARAMETRO[:estado_cobro_no_cobrado]%>
            
            <%= link_to icon_confirmar_cobro,"#", onclick: "cambiar_estado_cobro_a_cobrado(#{cit.cita_id});return false;", class: "btn btn-success btn-xs", id: "btn-cambiar-estado-cobro-cobrado", title: 'Haga click aquí para marcar esta cita como Cobrado.' if acceso_permitido("citas.cambiar_estado_cobro_a_cobrado")%>
          
          <%end%>

          <%if cit.estado_cobro_id == PARAMETRO[:estado_cobrado] || cit.estado_cobro_id == PARAMETRO[:estado_cobro_pendiente]%>
            
            <%= link_to icon_desconfirmar_cobro,"#", onclick: "cambiar_estado_cobro_a_no_cobrado(#{cit.cita_id});return false;", class: "btn btn-warning btn-xs", id: "btn-cambiar-estado-cobro-no-cobrado", title: 'Haga click aquí para marcar esta cita como No Cobrado.' if acceso_permitido("citas.cambiar_estado_cobro_a_no_cobrado")%>
          
          <%end%>

          <%= link_to icon_print_informe,"#", onclick: "imprimir_informe(#{cit.cita_id});return false;", class: "btn btn-success btn-xs", id: "btn-imprimir-informe-cita", title: 'Haga click aquí para imprimir el informe de la cita.' if acceso_permitido("citas.imprimir_informe")%>


        <%end%>
         
       </td>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination">
     
      <%= ajax_will_paginate citas, :params => params %></div>
    
    </td>

</tr>

<tr>

    <td colspan="12">

      Cantidad de registros encontrados: <%= @total_encontrados %> 

    </td>

</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  function eliminar_registro(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de citas",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_eliminar_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    function cambiar_estado_cita_en_consultorio_a_en_espera(cita_id){

        swal({
          title: "Confirmar",
          text: "Al confirmar la cita pasará al estado En Espera.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cita_en_consultorio_a_en_espera_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

  }


    function cambiar_estado_cita_en_espera_a_en_consultorio(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar la cita pasará al estado En Consultorio y podrá agregar detalles a la cita y adjuntar archivos según sea el caso.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cita_en_espera_a_en_consultorio_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

  }

  function habilitar_descarga_archivos(cita_detalle_id, cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se habilitará la descarga del archivo adjunto en el detalle de la cita.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_detalles_fono_habilitar_descarga_archivo_path) %>", 
                data: {cita_detalle_id: cita_detalle_id, cita_id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    function deshabilitar_descarga_archivos(cita_detalle_id, cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se deshabilitará la descarga del archivo adjunto en el detalle de la cita.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_detalles_fono_deshabilitar_descarga_archivo_path) %>", 
                data: {cita_detalle_id: cita_detalle_id, cita_id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

  function cambiar_estado_cita_en_consultorio_a_terminado(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar la cita pasará al estado Terminado y no se podrá realizar ninguna modificación a la Cita.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cita_en_consultorio_a_terminado_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });
  }

  
  function cambiar_estado_cobro_a_cobrado(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar el estado de cobro de la Cita pasará a ser Cobrado",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cobro_a_cobrado_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });
  }

  function cambiar_estado_cobro_a_no_cobrado(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar el estado de cobro de la Cita ésta pasará a estar marcado como No Cobrado",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cobro_a_no_cobrado_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });
  }

  function cambiar_estado_cita_terminado_a_en_consultorio(cita_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar la cita pasará al estado de En Consultorio y se podrá realizar modificaciones a la Cita o incluir un archivo adjunto.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_cambiar_estado_cita_terminado_a_en_consultorio_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });
  }


  function imprimir_informe(cita_id) {

        swal({
          title: "Confirmar",
          text: "Está seguro de imprimir el informe?",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(citas_imprimir_informe_path) %>", 
                data: {id: cita_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });
  }

</script>
