 
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Citas</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar nueva cita".html_safe, "#", id: "link-to-agregar-cita", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-cita", link_to_id: "#link-to-agregar-cita", url: citas_agregar_path( window_id: "modal-window-agregar-cita") )%>
    
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-citas">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag citas_lista_path, remote: true, id: "form-buscar-citas"  do  %>

        <tr>

          <th style="width:5%;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_citas_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th style="width:10%;">
            <div><%= label_tag nil, "Fecha Cita".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_citas_fecha, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_fecha');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th style="width:7%;">
            <span>Documento</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_citas_paciente_documento, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_citas_id').val('');quitar_filtro('#form-buscar-citas', '#form_buscar_citas_paciente_documento');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:15%;">
            <span>Nombre Paciente</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_citas_pacientes_nombre, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_pacientes_nombre');"><i class="fa fa-times"></i></span>
            </div>
            <em class="nmb"></em>
          </th>
          
          <th style="width:15%;" >
            <span>Apellido Paciente</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_citas_pacientes_apellido, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_pacientes_apellido');"><i class="fa fa-times"></i></span>
            </div>
            <em class="nmb"></em>
          </th>

          <th style="width:10%;">
              <span>Tipo Consulta</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_citas, :tipo_consulta_id, TipoConsulta.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_tipo_consulta_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 
          
          <%if rol_administrador%>
          
            <th style="width:7%;">
              <span>Monto Consulta</span>
              <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_citas_monto_consulta, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_monto_consulta');"><i class="fa fa-times"></i></span>
              </div>
            </th>

          <%end%>

          <th style="width:10%;">
              <span>Estado Cita</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_citas, :estado_cita_id, EstadoCita.orden_01.fonoaudiologia, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_estado_cita_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th style="width:10%;">
              <span>Estado Cobro</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_citas, :estado_cobro_id, EstadoCobro.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-citas', '#form_buscar_citas_estado_cobro_id');"><i class="fa fa-times"></i></span>
            </div>
          </th> 

          <th style="width:10%;"></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="citas-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  $("#form_buscar_citas_fecha").val("<%=DateTime.now.to_date %>")

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-citas").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_citas_pacientes_nombre").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_citas_pacientes_nombre").val().replace(/\s/g,'')).length > 2 && ($("#form_buscar_citas_pacientes_apellido").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;       
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
      
    $(".nmb").html('');       
    $("#citas-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-citas input, #table-citas select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-citas").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-citas").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-cita").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-citas table th { background:#e6e6e6;}
    #form-buscar-citas table th span.limpiar { background:#fff;}

</style>
