<%= javascript_include_tag "modulos/pacientes.js" %>
<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Paciente</h4>
      
    </div>

    <%= form_for @tutor_detalle, remote: true, url: tutores_guardar_tutor_detalle_url, html: { id: "form-agregar-tutor-detalle" } do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>

      <%= hidden_field_tag :tutor_id, params[:tutor_id]%>

      <%= hidden_field_tag :paciente_id%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag nil, "Tipo de Documento #{attr_requerido}".html_safe, id: "lbl-tipo-documento-persona" %></div>

          <div class="col-sm-7"><%= collection_select :persona, :tipo_documento_id,  TipoDocumento.habilitados.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>

          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Nacionalidad #{attr_requerido}".html_safe, id: "lbl-nacionalidad" %></div>
          <div class="col-sm-7"><%= collection_select :persona, :nacionalidad_id, Nacionalidad.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "N° Documento #{attr_requerido}".html_safe, id: "lbl-documento" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_documento, nil, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Nombre Paciente#{attr_requerido}".html_safe, id: "lbl-nombre" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_nombre, nil, class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Apellido Paciente#{attr_requerido}".html_safe, id: "lbl-apellido" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_apellido, nil, class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Parentezco del Tutor #{attr_requerido}".html_safe, id: "lbl-parentezco" %></div>
          <div class="col-sm-7"><%= collection_select :parentezco, :id, Parentezco.orden_01, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br />



          
          <div class="col-sm-1"></div><br />
          <div id="buscar_perso">                                       
          </div>
        </div>        
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#", class: "btn btn-primary", id: "btn-guardar-paciente" %>
          
      </div>
    
    <% end %>

  </div>
</div>

<style type="text/css">

  #form-agregar-tutor-detalle label, #form-agregar-tutor-detalle input[type='text'] { float:left; margin-top:5px;}
  #form-agregar-tutor-detalle br {clear:both; }
  #form-agregar-tutor-detalle label { width:200px; font-size:12px;}

</style>

<script type="text/javascript">

  aplicar_datepicker2();

  setTimeout(function(){ 
    $("#persona_documento").focus();
    $("#persona_tipo_documento_id").val(1);
    $("#persona_nacionalidad_id").val(1);
  }, 1000);

  $("#persona_documento").bind("keydown", function(e){
      
    if(e.keyCode == 13 || e.keyCode == 9){
    buscar_paciente($("#persona_tipo_documento_id").val(), $("#persona_nacionalidad_id").val(), $("#persona_documento").val(), "<%= url_for(pacientes_buscar_paciente_path ) %>", "<%= url_for(pacientes_index_path( agregar: true))%>");
      return false;
    }
 
  })

  $("#btn-guardar-paciente").bind('click', function () {

      valido = true
      msg = ""

      if($("#persona_documento").val().length == 0){

        msg +="Ingrese número de documento.\n"
        valido = false
      
      }

      if($("#persona_nombre").val().length == 0){

        msg +="Nombre de persona no puede estar vacío.\n"
        valido = false
      
      }

      if($("#persona_apellido").val().length == 0){

        msg +="Apellido de persona no puede estar vacío.\n"
        valido = false
      
      }

      if($("#parentezco_id").val().length == 0){

        msg +="La relación de parentezco debe ser seleccionada.\n"
        valido = false
      
      }

      if (valido){

        swal({
          title: "Confirmar Tutoría",
          text: "Al confirmar el Paciente estará supervisado por el Tutor y éste podrá acceder a los datos generados por los avances del Paciente.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-agregar-tutor-detalle").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })


</script>