<%= javascript_include_tag "modulos/pacientes.js" %>
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div class="modal-dialog">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Agregar Tutor</h4>
      
    </div>

    <%= form_for @tutor, remote: true, url: tutores_guardar_url, html: { id: "form-agregar-tutor" }, method: 'POST' do |f| %>

      <%= hidden_field_tag :window_id, params[:window_id]%>
      <%= hidden_field_tag :persona_id%>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag nil, "Tipo de Documento #{attr_requerido}".html_safe, id: "lbl-tipo-documento-persona" %></div>

          <div class="col-sm-7"><%= collection_select :persona, :tipo_documento_id,  TipoDocumento.habilitados.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>

          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Nacionalidad #{attr_requerido}".html_safe, id: "lbl-nacionalidad" %></div>
          <div class="col-sm-7"><%= collection_select :persona, :nacionalidad_id, Nacionalidad.ordenado_descripcion, :id, :descripcion, { include_blank: true}, {class: 'form-control input-sm'} %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "N° Documento #{attr_requerido}".html_safe, id: "lbl-documento" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_documento, nil, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Nombre #{attr_requerido}".html_safe, id: "lbl-nombre" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_nombre, nil, class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />

          <div class="col-sm-4"><%= label_tag nil, "Apellido #{attr_requerido}".html_safe, id: "lbl-apellido" %></div>
          <div class="col-sm-7"><%= text_field_tag :persona_apellido, nil, class: 'form-control input-sm', readonly: true %></div>
          <div class="col-sm-1"></div><br />
          <div class="col-sm-1"></div><br />



          
          <div class="col-sm-1"></div><br />
          <div id="buscar_perso">                                       
          </div>
        </div>        
       
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= link_to "Guardar","#" ,class: "btn btn-primary", id: "btn-guardar-tutor" %>
          
      </div>
 
    <%end %>

  </div>
  


<style type="text/css">

  #form-agregar-tutor label, #form-agregar-tutor input[type='text'], #form-agregar-tutor input[type='password'], #form-agregar-tutor select , #form-agregar-tutor input[type='checkbox']{ float:left; margin-top:5px;}
  #form-agregar-tutor br {clear:both; }
  #form-agregar-tutor label { width:200px;font-size:12px;margin-top:10px;}
  #form-agregar-tutor #persona_tipo_documento_persona_id { width:60%;}
  #form-agregar-tutor #persona_nacionalidad_id { width:60%;}
  #form-agregar-tutor #persona_documento { width:50%;}
 


</style>

<script type="text/javascript">

  setTimeout(function(){ 
    $("#persona_documento").focus();
    $("#persona_tipo_documento_id").val(1);
    $("#persona_nacionalidad_id").val(1);
  }, 1000);

  $("#persona_documento").bind("keydown", function(e){
      
    if(e.keyCode == 13 || e.keyCode == 9){
    buscar_persona_v2($("#persona_tipo_documento_id").val(), $("#persona_nacionalidad_id").val(), $("#persona_documento").val(), "<%= url_for(tutores_buscar_persona_path ) %>", "<%= url_for(personas_index_path( agregar: true))%>");
      return false;
    }
 
  })


  $("#btn-guardar-tutor").bind('click', function () {

      valido = true
      msg = ""

      if($("#persona_documento").val().length == 0){

        msg +="Ingrese número de documento.\n"
        valido = false
      
      }

      if($("#persona_nombre").val().length == 0){

        msg +="Nombre de persona no puede estar vacío.\n"
        valido = false
      
      }

      if($("#persona_apellido").val().length == 0){

        msg +="Apellido de persona no puede estar vacío.\n"
        valido = false
      
      }

      if (valido){

        swal({
          title: "Confirmar",
          text: "Al confirmar se podrá visualizar en la lista de tutores",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

            $("#form-agregar-tutor").submit();
            
          } 

        });

      }else{

        swal(msg);
      
      }

      return false;
    
    })

</script>
