<%= link_to icon_detalles, "#", id: "link-to-tutor-detalle-#{tutor_id}", class: 'btn btn-success btn-xs', title: 'Haga click para ver los detalles del Tutor y asignar a sus tutelados correspondientes', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-tutor-detalle-<%= tutor_id %>").bind('click', function(){

    var contenido = $.trim($("#tutor-detalle-<%= tutor_id %>").html());

    $(".tutor-detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='tutor-detalle-<%= tutor_id %>' class='tutor-detalle'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(tutores_tutor_detalle_path) %>',  
        data: { tutor_id: <%= tutor_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>