<% if tutores.present? %>

  <% tutores.each do |tut| %>

    <tr>

      <td><%= tut.tutor_id %></td>
      <td><%= tut.documento_persona%></td>
      <td style="text-transform:uppercase;"><%= tut.nombre_persona%></td>
      <td style="text-transform:uppercase;"><%= tut.apellido_persona %></td>
      <td style="text-transform:uppercase;"><%= tut.direccion %></td>
      <td><%= tut.telefono%> - <%= tut.celular%></td>
      
      <td >
        
        
        <%= link_to_tutor_detalle(tut.tutor_id) %>
        <%= link_to_editar_tutor(tut.persona_id) %>
        <%= link_to icon_eliminar,"#", onclick: "eliminar_registro(#{tut.tutor_id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-tutor", title: 'Haga click para eliminar el tutor'  %>

      
       </td>

   


    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate tutores, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

  function eliminar_registro(tutor_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar se eliminará permanentemente de la lista de Tutores. Si el Tutor cuenta con detalles no podrá ser eliminado.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(tutores_eliminar_path) %>", 
                data: {id: tutor_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
