<% if precios.present? %>

  <% precios.each do |pre| %>

    <tr>

      <td style="width:50px;"><%= pre.id %></td>
      <td><%= pre.codigo%></td>
      <td><%= pre.descripcion%></td>
      <td><%= pre.monto %></td>
      <td style="width:120px;"> 

        <%= link_to_editar_precio(pre) %>
        
        <%= link_to icon_eliminar, precios_eliminar_path(id: pre.id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el precio', data: { confirm: "Está seguro de eliminar el precio ?"} %>
       
         
       </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate precios, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
