
<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Precios</h3>
    <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar".html_safe, "#", id: "link-to-agregar-precio", class: "btn btn-primary pull-right", style: "float:right;margin-left:10px;", onclick: "$('.modal').html('');return false;" %>
    <%= modal_window( window_id: "modal-window-agregar-precio", link_to_id: "#link-to-agregar-precio", url: precios_agregar_path( window_id: "modal-window-agregar-precio") )%>
    
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-precios">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag precios_lista_path, remote: true, id: "form-buscar-precios"  do  %>

        <tr>

          <th style="width:15%;">
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_precios_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-precios', '#form_buscar_precios_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
           <th style="width:15%;">
            <span>Código Precio</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_precios_codigo, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-precios', '#form_buscar_precios_codigo');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:25%;">
            <span>Descripción</span>
            <div class="input-group input-group-sm">
                <%= text_field_tag :form_buscar_precios_descripcion, nil, :class => 'form-control', :placeholder => "" %>
                <span class="input-group-addon limpiar" onclick="$('#form_buscar_precios_id').val('');quitar_filtro('#form-buscar-precios', '#form_buscar_precios_descripcion');"><i class="fa fa-times"></i></span>
            </div>

            <%= hidden_field_tag :form_buscar_precios_descripcion %>
            <%= autocomplete_help( ruta:  autocompletar_path(atributo_id: :id,
                  atributo_descripcion: :descripcion,
                  atributo_tipo: :text, 
                  model: :Precio, 
                  limit: 10,
                  cadena_consulta: "upper(quitar_acentos(descripcion))",
                  orden: "descripcion"), 
              parametro_id: "form_buscar_precios_descripcion", 
              resultado_id: "form_buscar_precios_id",
              min_length: 2
              ) %>
          </th>


          <th style="width:20%;">
            <span>Monto</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_precios_monto, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-precios', '#form_buscar_precios_monto');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th style="width:15%;">
            <span>Predeterminado</span>
          </th>



          <th style="width:15%;"></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="precios-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-precios").bind("submit", function () {
    var valido = true;
    if($("#form_buscar_precios_descripcion").val().length !== 0 ){
      valido = false;
      if(($("#form_buscar_precios_descripcion").val().replace(/\s/g,'')).length > 2 && ($("#form_buscar_precios_descripcion").val().replace(/\s/g,'')).length > 2){        
        valido = true;
      }else{
        valido = false;
        //swal("Para la búsqueda por Nombre y Apellido Ingrese minimo 3(tres) carácteres en cada caja de texto", "", "error");         
        $(".nmb").html('*Ingrese minimo 3(tres) carácteres para cada caja de texto');
        $(".nmb").attr({'style':'color: red;font-size: 8px;'});      
      }      
    }
      
    if(valido){
    $(".nmb").html('');       
    $("#precios-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-precios input, #table-precios select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-precios").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-precios").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-precio").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-precios table th { background:#e6e6e6;}
    #form-buscar-precios table th span.limpiar { background:#fff;}

</style>
