<%= javascript_include_tag "modulos/usuarios.js" %>
<div class="modal-dialog" style = "width:60%; align-content: center;">
      
  <div class="modal-content">
        
    <div class="modal-header" style="background:#e6e6e6;">
          
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Editar Enlace</h4>
      
    </div>

    <%= form_for @enlace, remote: true, url: informaciones_actualizar_enlace_url, html: { id: "form-editar-informacion" }, method: 'POST' do |f| %>

      <%= f.hidden_field :id %>
      <%= hidden_field_tag :window_id, params[:window_id]%>
	  
	  <%= hidden_field_tag :informacion_id, params[:informacion_id] %>

      <div class="modal-body">

        <div class="panel-body">

          <div class="col-sm-4"><%= label_tag nil, "Titulo #{attr_requerido}".html_safe, id: "lbl-titulo" %></div>
          <div class="col-sm-7"><%= text_field_tag :titulo, nil, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br /><br />
		  
		  <div class="col-sm-4"><%= label_tag nil, "Enlace #{attr_requerido}".html_safe, id: "lbl-enlace" %></div>
          <div class="col-sm-7"><%= text_field_tag :enlace, nil, class: 'form-control input-sm' %></div>
          <div class="col-sm-1"></div><br /><br />

          <div class="col-md-1"></div><br /><br />
          
        </div>
        
      </div>

      <div class="modal-footer" style="background:#e6e6e6;">

        <%= link_to "Cerrar", "#", class: "btn btn-default", onclick: "$('##{params[:window_id]}').modal('hide');" %> 
        <%= f.submit "Actualizar", class: "btn btn-primary", id: "btn-actualizar-informacion" %>
          
      </div>

    <% end %>

  </div>
</div>

<style type="text/css">

  #form-editar-informacion label, #form-editar-informacion input[type='text'] { float:left; margin-top:5px;}
  #form-editar-informacion br {clear:both; }
  #form-editar-informacion label { width:200px;}

</style>

<script type="text/javascript">
  aplicar_datepicker();

  setTimeout(function(){ 
    $("#titulo").focus();
  }, 1000);
  
  
  
  //------------------- RECUPERAR DATOS -------------------------//
    <% if @enlace.present? %>

    setTimeout(function(){
        $("#titulo").val('<%= @enlace.titulo %>');
        $("#enlace").val('<%= @enlace.enlace %>');
		


    }, 10);
    <% end %>

</script>
